-# - if current_user.admin?
-#   = form_with model: @baggages ,method: :patch  do |f|
-#     -# = f.check_box :delivery_data
-#     -# = f.label :delivery_data

-#     = f.check_box :delivery_data,true,false
    
    
-#     -# = f.submit 'SEND', class: "baggage__send"